/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*
 * Author: Danni
 * Sections:
 * 		- Main
 * 		- Button
 * 		- Alert
 * 		- Toggle Button
 * 		- Dialog Pane
 * 		- Table View
 *		- Date Picker
 * 		- Combo Box 
 * Preliminary color scheme -> subject to change
*/

/* -- MAIN -- */

/* Affects all GUIs */
.root{
	
}


/* -- BUTTON -- */

/* Affects all JFXButtons */
.jfx-button{
    -fx-background-color: lightblue;
}

/* Affects hover over action for all JFXButtons */
.jfx-button:hover{
	-fx-background-color: #86c5da;
}

/* Affects currently selected button */
.activeButton{
	-fx-background-color: #e6bbad;
}

/* Affects hover over action for currently selected button */
.activeButton:hover{
	-fx-background-color: #e6bbad;
}


/* -- ALERT -- */

/* Affects alert dialog boxes */
.alert
{
	-fx-background-color: lightgrey;
	-fx-font-size: 14pt;
}


/* -- TOGGLE BUTTON -- */

/* Changes selected toggle button */
.toggle-button:selected {
	-fx-base: lightblue;
}


/* -- DIALOGPANE -- */

/* Affects pop-up dialog boxes */
.dialog-pane
{
	-fx-background-color: lightgrey;
	-fx-font-size: 14pt;
}


/* -- TABLE VIEW -- */

/* Affects column head (behind label) */
.table-view .column-header{
	-fx-background-color: lightblue;
}

/* Affects labels of column head of table view */
.table-view .column-header-background .label{
	-fx-background-color: lightblue;
    -fx-font-size: 16px;
}

/* Affects content in table cells */
.table-view .table-cell{
    -fx-font-size: 16px;
}

/* Affects scroll bar buttons */
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/* Affects scroll bar arrows */
.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}


/* -- DATE PICKER -- */

/* Affects all date pickers */
.date-picker{
    -fx-background-color: rgba(255,255,255,0.0);
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 6 6 6 6 ;
    -fx-text-fill: rgba(0,0,0,0.7);
    -fx-font: 16px System;
}

/* Affects month and year at top of calendar of date picker */
.date-picker-popup > .month-year-pane {
    -fx-background-color: lightblue;
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 6 6 6 6 ;
    -fx-text-fill: rgba(0,0,0,0.7);
    -fx-font: 16px System;
}

/* Changes background of date picker calendar selector */
.date-picker .arrow-button{
	-fx-background-radius: 3px;
	-fx-background-color: lightblue;/* #232323; */
	-fx-padding: 20px;
}

/* Changes calendar picture on date picker selector */
.date-picker .arrow-button .arrow{
	-fx-background-radius: 0px;
	-fx-background-color: #232323;/* #1783CC; */
	-fx-padding: 9px;
}

/* Changes calendar picture on date picker selector on hover */
.date-picker .arrow-button:hover .arrow{
	-fx-background-radius: 0px;
	-fx-background-color: purple;
 }

/* Changes arrow background surrounding month and year on calendar in date picker */
 .date-picker .button {
	-fx-background-color: transparent;
	-fx-border-color:transparent;
	-fx-pref-height: 35px;
	-fx-pref-width: 35px;
 }

/* Changes text field next to calendar picture on date picker */
.date-picker .text-field{
	-fx-background-radius:0px ;
	-fx-border-color: transparent;
}

/* Changes hover of arrow buttons surrounding month and year on calendar of date picker */
 .date-picker .button:hover {
	-fx-border-color:transparent;
	-fx-pref-height: 35px;
	-fx-pref-width: 35px;
 }

/* Changes grid with dates on calendar in date picker */
 .date-picker .cell {
	-fx-background-color: lightblue;/* #232323; */
	-fx-pref-width:20px ;
	-fx-pref-height:25px ;
 }

/* Changes hover on dates for calendar in date picker */
.date-picker .cell:hover {
	-fx-background-color: #1783CC;
	-fx-pref-width:20px ;
	-fx-pref-height:25px ;
}

/* Changes current date on calendar in date picker */
.date-picker .cell:focused {
	-fx-background-color: #11659e;
	-fx-pref-width:20px ;
	-fx-pref-height:25px ;
 }

/* Changes border around date grid in calendar of date picker */
.date-picker-popup  {
	-fx-border-color: #1783CC;
	-fx-background-color: black;
 }


/* -- COMBO BOX -- */

/* Affects all combo boxes */
.combo-box{
	-fx-font: 16px System;
}




